<ion-header>

  <ion-toolbar color="primary">

    <ion-searchbar style="padding: 1em;" placeholder="Buscar equipo"></ion-searchbar>

    <!-- Default Segment -->
    <ion-segment color="light" mode="md" (ionChange)="segmentChanged($event)" #segmentoEquipos>

      <ion-segment-button mode="md" value="nuevo">
        <ion-label>Crear Equipo</ion-label>
        <ion-icon src="assets/icon/plus.svg"></ion-icon>
      </ion-segment-button>

      <ion-segment-button mode="md" value="mis-equipos">
        <ion-label>Mis Equipos</ion-label>
        <ion-icon src="assets/icon/pelota.svg"></ion-icon>
      </ion-segment-button>

    </ion-segment>

  </ion-toolbar>

</ion-header>

<!-- Contenido -->

<ion-content>
    <!-- <ion-grid>

      <ion-row>

          <ion-col *ngFor="let c of [1,1,1,1,1,1,1,1,1,1,1,1];">

            <ion-card>

              <ion-img src="/assets/colo.png"></ion-img>

              <ion-card-header>
                <ion-card-subtitle>Valparaíso</ion-card-subtitle>
                <ion-card-title>Colo Colo</ion-card-title>
              </ion-card-header>
            
              <ion-card-content>
                Keep close to Nature's heart.
              </ion-card-content>

            </ion-card>

          </ion-col>

      </ion-row>

    </ion-grid> -->

</ion-content>
