<ion-header>

  <ion-toolbar color="primary">

    <ion-searchbar style="padding: 1em;" placeholder="Busca a tu oponente en específico"></ion-searchbar>

  </ion-toolbar>

</ion-header>

<ion-content>
    <ion-card>
      <ion-card-content>
        Buscando oponentes en tu zona... 
        <h6><small>Si no encuentras a tu rival, puedes usar el buscador de arriba</small></h6>
      </ion-card-content>
    </ion-card>

    <ion-slides [options]="slideOpts">

      <ion-slide *ngFor="let equipo of equipos;">

        <ion-card routerLink="../../../detalle-equipo">
          <img style="width: 400px; height: 450px;" src="{{ 'assets/'+ equipo}}">

          <ion-card-header>
            <ion-card-subtitle><strong>Valparaíso</strong></ion-card-subtitle>
          </ion-card-header>
        </ion-card>

      </ion-slide>

    </ion-slides>

</ion-content>
