<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Canchas disponibles</ion-title>

    <ion-buttons slot="end" style="padding-right: 5px;">
      <ion-back-button text="Cerrar" icon="null"></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
      <ion-row>
        <ion-col style="text-align: center; padding-bottom: 0px;">
          <h6><b>Canchas disponibles de Club ESBO <br>
            lunes, 30 de septiembre de 2019 - 19:00</b></h6>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
            <ion-card>
              <ion-card-header style="padding: 4px;" color="primary">
                <h6 style="margin: 4px;">Cancha 1</h6>
              </ion-card-header>

              <ion-card-content style="padding: 4px;">
                <ion-label>60 mins $23.000</ion-label>
              </ion-card-content>

              <ion-card-content style="text-align: center; padding: 4px;">
                <ion-button (click)="abrirSeleccionarCancha()">
                  Elegir cancha
                  <ion-icon slot="end" name="md-arrow-round-forward"></ion-icon>
                </ion-button>
              </ion-card-content>
            </ion-card>
  
            <ion-card>
              <ion-card-header style="padding: 4px;" color="primary">
                <h6 style="margin: 4px;">Cancha 2</h6>
              </ion-card-header>

              <ion-card-content style="padding: 4px;">
                <ion-label>60 mins $23.000</ion-label>
              </ion-card-content>

              <ion-card-content style="text-align: center; padding: 4px;">
                <ion-button (click)="abrirSeleccionarCancha()">
                  Elegir cancha
                  <ion-icon slot="end" name="md-arrow-round-forward"></ion-icon>
                </ion-button>
              </ion-card-content>
              
            </ion-card>
  
            <ion-card>
              <ion-card-header style="padding: 4px;" color="primary">
                <h6 style="margin: 4px;">Cancha 3</h6>
              </ion-card-header>

              <ion-card-content style="padding: 4px;">
                <ion-label>60 mins $23.000</ion-label>
              </ion-card-content>

              <ion-card-content style="text-align: center; padding: 4px;">
                <ion-button (click)="abrirSeleccionarCancha()">
                  Elegir cancha
                  <ion-icon slot="end" name="md-arrow-round-forward"></ion-icon>
                </ion-button>
              </ion-card-content>
            </ion-card>
  
            <ion-card>
              <ion-card-header style="padding: 4px;" color="primary">
                <h6 style="margin: 4px;">Cancha 4</h6>
              </ion-card-header>

              <ion-card-content style="padding: 4px;">
                <ion-label>60 mins $23.000</ion-label>
              </ion-card-content>

              <ion-card-content style="text-align: center; padding: 4px;">
                <ion-button (click)="abrirSeleccionarCancha()">
                  Elegir cancha
                  <ion-icon slot="end" name="md-arrow-round-forward"></ion-icon>
                </ion-button>
              </ion-card-content>
            </ion-card>

        </ion-col>
      </ion-row>
  
    </ion-grid>
</ion-content>
