<ion-tabs>

  <ion-tab-bar slot="bottom">

      <ion-tab-button tab="desafios" (click)="changeDesafiosIcon()"> 
          <ion-icon [style.color]="isDesafiosSelected ? 'medium' : 'primary'" [src]="isDesafiosSelected ? clickedDesafiosIcon : desafiosIcon"></ion-icon>
          <ion-label [style.color]="isDesafiosSelected ? 'medium' : 'primary'">Desafiar</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="partidos" (click)="changePartidosIcon()"> 
          <ion-icon [style.color]="isPartidosSelected ? 'primary' : 'medium'" [src]="isPartidosSelected ? clickedPartidosIcon : partidosIcon"></ion-icon>
          <ion-label [style.color]="isPartidosSelected ? 'primary' : 'medium'">Partidos</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="notificaciones" (click)="changeNotificacionesIcon()"> 
            <ion-icon [style.color]="isNotificacionesSelected ? 'primary' : 'medium'" [src]="isNotificacionesSelected ? clickedNotificacionesIcon : notificacionesIcon"></ion-icon>
            <ion-label [style.color]="isNotificacionesSelected ? 'primary' : 'medium'">Notificaciones</ion-label>
        </ion-tab-button>

      <ion-tab-button tab="perfil" (click)="changePerfilIcon()">
            <ion-icon [style.color]="isPerfilSelected ? 'primary' : 'medium'" [src]="isPerfilSelected ? clickedPerfilIcon : perfilIcon"></ion-icon>
            <ion-label [style.color]="isPerfilSelected ? 'primary' : 'medium'">Perfil</ion-label>
        </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>